* {
    font-family: 'Merriweather', serif;
  }
  body{
    margin: 0;
    justify-content: center;
    text-align: center;
    background-image: url("img/background.jpg");
    color: white;
    align-items: center;
  }

/* Strona główna */

#menu_bar{
    margin-top: 7vh;
    margin-bottom: 7vh;
    padding: 3vh;
    height: 5vh;
}
a{
    margin-left: 7vw;
    letter-spacing: 0.1vw;
    font-size: larger;
    text-decoration: none;
    color: aquamarine;
}
.logo{
  width: 5.2vw;
  height: 10.7vh;
}

#main_section{
  display: grid;
  grid-template-columns: auto auto;
  height: 70vh;
}
#ikony_umiejetnosci{
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}
p{
  margin: 3vb;
}

#present {
  width: 5.2vw;
  height: 10.7vh;
  position: absolute; 
  left: 50%; 
  top: 35%;
  transform: translate(-50%, -50%); 
  transition: background-image 2s ease-in-out;
}
.image1{
  background-image: url('img/html.png');
  background-size: 5.2vw 10.7vh; 
} 
.image2{
  background-image: url('img/css.png');
  background-size: 5.2vw 10.7vh; 
}
 .image3 {
    background-image: url('img/js.png');
    background-size: 5.2vw 10.7vh; 
}
.future{
  position: relative;
}
#mapa_mysli{
  width: 50vw;
}



@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  #ikony_umiejetnosci {
    width: 80vw; 
  }

  #main_section {
    grid-template-columns: 1fr; 
  }
  #present{
    position: relative;
  }
  #mapa_mysli{
    position: relative;
    left: 15vw;
  }
  
}

